body{
	font-family: arial;
	margin-top: 50px;
}

p{
	display: block;
	text-align: center;
	margin: 50px 0 50px 0;
	color:  #e54630;
}

a{
	text-decoration: none;
	color: #5e180e;
}

a:hover{
	color: #e54630;
	text-decoration: underline;
}

form{
	width: 250px;
	padding: 50px 50px 40px 50px;
	margin: auto;
	text-align: center;
	border:1px solid;
 	border-radius:5px;
}

legend{
	margin-top: -60px;
	margin-bottom: 30px;
	background-color: white;
	padding-left: 5px;
	width: 120px;
	color: #e54630;
}

input{

	width: 220px;
	margin-bottom: 10px;
}

label{
	text-align: left;
	padding-left: 10px;
	margin-bottom: 10px;
	display: block;
}

button{
	background-color: white;
	color: #e54630;
	padding: 10px;
	margin-top: 10px;
	border:1px solid #e54630 ;
	border-radius:5px;
	cursor: pointer;
}

button:hover{
	background-color:#e54630;
	color: white;
	border:1px solid white;
}